<h1><%= Book.human_attribute_name(:edit) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('button.show'), @book %> |
  <%= link_to t('button.return'), books_path %>
</nav>
